
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>now cctv</title>
	<style type="text/css">
    body {
      width: 960px;
      height: 840px;
      position: relative;
    }
    #map {
      width: 100%;
      height: 100%;
    }
    </style>
  </head>
  <body>
    <div id="map" style="width:100%;height:640px;left:0px;top:0px"></div>
	<select id="setMode" onchange="if(this.value) location.href=(this.value);">
	<option value="http://192.168.0.70:5000">2d-map</option>
	<option value="http://192.168.0.70:5000/sample_marker_3d" selected>3d-map</option>

	<script type="text/javascript" src="https://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=CEB52025-E065-364C-9DBA-44880E3B02B8"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
		vw.ol3.MapOptions = {
    		basemapType : vw.ol3.BasemapType.PHOTO,
    		controlDensity : vw.ol3.DensityType.BASIC,
    		interactionDensity : vw.ol3.DensityType.FULL,
    		controlsAutoArrange : true,
    		homePosition : vw.ol3.CameraPosition,
    		initPosition : vw.ol3.CameraPosition,
    	};
    	v3map = new vw.ol3.Map("map", vw.ol3.MapOptions);
		markerLayer = new vw.ol3.layer.Marker(v3map);
		v3map.addLayer(markerLayer);

		vw.ol3.markerOption = {
			x : 127.40722677,
			y : 36.338683772,
			epsg : "EPSG:4326",
			title : '목중료 목중로 교통 상황',
			contents : '목중료 목중로 교통 상황',
			iconUrl : '//map.vworld.kr/images/ol3/marker_blue.png',
			text : {
			offsetX: 0.5, //위치설정
			offsetY: 20,   //위치설정
			font: '12px Calibri,sans-serif',
			fill: {color: '#000'},
			stroke: {color: '#fff', width: 2},
			text: '테스트마커1'
		},
		attr: {"id":"maker01","name":"속성명1"}
		};
		markerLayer.addMarker(vw.ol3.markerOption);




		vw.ol3.markerOption = {
			
			x : 127.432103806,
			y : 36.334423009,
			epsg : "EPSG:4326",
			title : '대전역',
			contents : '대전역 교통 상황',
			iconUrl : '//map.vworld.kr/images/ol3/marker_blue.png',
			text : {
			offsetX: 0.5, //위치설정
			offsetY: 20,   //위치설정
			font: '12px Calibri,sans-serif',
			fill: {color: '#000'},
			stroke: {color: '#fff', width: 2},
			text: '테스트마커1'
		},
		attr: {"id":"maker02","name":"속성명2"}
		};

		markerLayer.addMarker(vw.ol3.markerOption);

			vw.ol3.markerOption = {
			x : 127.380181112,
			y : 36.359443858,
			epsg : "EPSG:4326",
			title : '한국 플랫폼 서비스 기술',
			contents : '<img src="{{ url_for('video_feed') }}" height="150" width="170"/>',
			iconUrl : '//map.vworld.kr/images/ol3/marker_blue.png',
			text : {
			offsetX: 0.5, //위치설정
			offsetY: 30,   //위치설정
			font: '12px Calibri,sans-serif',
			fill: {color: '#000'},
			stroke: {color: '#fff', width: 2},
			text: '테스트마커1'
		},
		attr: {"id":"maker03","name":"속성명3"}
		};
		markerLayer.addMarker(vw.ol3.markerOption);
    

    </script>
  </body>
</html>